/* Global */
body { margin: 0; font-family: 'Gentium Book Basic', serif, 'Lato', sans-serif, 'Great Vibes', cursive; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #343336; text-align: center; background-color: #F7F7F7; }

.bg-dark { background-color: #343336 !important; }

.list-unstyled { list-style: none; }

.list-inline { display: inline-flex; }

.fixed-top { position: fixed; top: 0; right: 0; left: 0; z-index: 1030; }

/* Navbar */
.navbar { display: flex; align-items: center; align-content: space-between; padding: .5rem 1rem; }

.navbar .navbar-brand { flex: 1; }

.navbar .navbar-list { flex: 2; }

.navbar li { line-height: 1.5; }

.navbar li .nav-link { padding-right: 1rem; text-decoration: none; color: #F7F7F7; font-family: "Lato", sans-serif; }

.logo { font-family: "Great Vibes", cursive; font-size: 2rem; color: #F2C335 !important; text-decoration: none; }

/* Footer */
footer { display: flex; margin: 0; background-color: #F7F7F7 !important; padding: 0.5rem !important; }

/* Media */
@media (min-width: 768px) { .navbar-expand-md { flex-flow: row nowrap; justify-content: flex-start; } }
