/* Global */

$font-title: 'Gentium Book Basic', serif;
$font-text: 'Lato', sans-serif; 
$font-special: 'Great Vibes', cursive;

$color-dark: #343336;
$color-light: #F7F7F7;
$color-yellow: #F2C335;


body {
    margin: 0;
    font-family: 'Gentium Book Basic', serif, 'Lato', sans-serif, 'Great Vibes', cursive;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-dark;
    text-align: center;
    background-color: $color-light;
}

.bg-dark {
    background-color: $color-dark!important;
}

.section-title {
    font-size: 80px;
    display: block;
    
}
.section-subtitle {
    font-size: 46px;
    display: block;
}

.btn-yellow {
    position: relative;
    background-color: $color-yellow;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: $color-light;
    font-family: $font-title;
    font-size: 22px;
    font-weight: bold;
    padding: 33px 44px;
    text-decoration: none;

    &:hover { opacity: 0.7px; }
}

.list-unstyled { list-style: none; }

.list-inline { display: inline-flex; }

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: .5rem 1rem;
    
    .navbar-brand {flex: 1;}
    .navbar-list {flex: 2;}
    
    li {       
        line-height: 1.5;
        .nav-link {
            padding-right: 1rem;
            text-decoration: none;
            color: $color-light;
            font-family: $font-text;
        }
    }
}

.logo {
    font-family: $font-special;
    font-size: 2rem;
    color: $color-yellow!important;
    text-decoration: none;
}

/* Splash */
.splash { 
    margin-top: 74px; 
    height: 80vh;
    background-image: url("/images/pexels-omar-markhieh-1447263.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    .splash-row { 
        flex-direction: column; 
        width: 100%;
        transform: translate(0%,80%);
        color: $color-light;
        justify-content: center;
        align-items: center;
        line-height: 0%;
    }
}


/* Services */
.services { margin-top: 74px; }

/* Gallery */
.gallery { margin-top: 74px; }

/* Footer */
footer {
    display: flex;
    margin: 0;
    background-color: $color-light!important;
    padding: .5rem!important;
}


/* Media */
@media (min-width: 768px){
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}