/* Global */

$font-raleway: 'Raleway', sans-serif;
$font-serif: 'Merriweather', serif; 
$font-special: 'Great Vibes', cursive;

$color-dark: #343336;
$color-light: #F7F7F7;
$color-yellow: #F2C335;


body {
    margin: 0;
    font-family: $font-raleway, sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: $color-dark;
    text-align: center;
    background-color: $color-light;
}

// .bg-dark {
//     background-color: $color-dark!important;
//}

.section-title {
    font-family: $font-raleway, sans-serif;
    font-size: 46px;
}
.section-subtitle {
    font-family: $font-raleway, sans-serif;
    font-size: 24px;
}

.btn-yellow {
    position: relative;
    background-color: $color-yellow;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: $color-light;
    font-family: $font-raleway;
    font-size: 22px;
    font-weight: bold;
    padding: 33px 44px;
    text-decoration: none;

    &:hover { opacity: 0.7px; }
}

.list-unstyled { list-style: none; }

.list-inline { display: inline-flex; }

.text-italic { font-family: $font-serif; }

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.justify-content-center { justify-content: center; }

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    align-content: space-between;
    padding: .5rem 1rem;
    background-color: $color-dark!important;

    .navbar-brand {flex: 1;}
    .navbar-list {flex: 2;}
    
    li {       
        line-height: 1.5;
        .nav-link {
            padding-right: 1rem;
            text-decoration: none;
            color: $color-light;
            font-family: $font-raleway;
        }
    }
}

.logo {
    font-family: $font-special;
    font-size: 2rem;
    color: $color-yellow!important;
    text-decoration: none;
}

/* Splash */
.splash { 
    margin-top: 74px; 
    height: 80vh;
    background-image: url("../images/pexels-omar-markhieh-1447263.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    .splash-row { 
        flex-direction: column; 
        height: 80vh;
        width: 100%;
        color: $color-light;
        align-items: center;
        line-height: 0%;
    }
    .splash-title { font: $font-raleway, sans-serif; font-size: 80px; }
    .splash-subtitle { font: italic 46px $font-serif, serif; }
}


/* Services */
.services { 
    margin-top: 74px;
    .row { padding-bottom: 40px; }
    i[class*="fas"] { 
        font-size: 38px; 
        padding: 16px;
        color: $color-yellow; 
        border: 5px solid $color-yellow; 
        border-radius: 100%; 
        }

    }

/* Gallery */
.gallery { margin-top: 74px; }

/* Footer */
footer {
    display: flex;
    margin: 0;
    background-color: $color-light!important;
    padding: .5rem!important;
}


/* Media */
@media (min-width: 768px){
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}